table{
  border-collapse: collapse;
  width: 100%;
}

td{
  text-align: left;
  padding: 2px;
}

tr{
  text-align: left;
  padding: 2px;
  font-weight: bold;
}

tr:nth-child(even){background-color: #f2f2f2;}